body {
	font-family: 'Open Sans', sans-serif !important;
	padding: 0px;
	margin: 0px;
	background-color: #666666
}
.main-header {
	background-color: #316DC3 !important;
}
.top-header {
	padding: 5px 0px;
}
.social-icon-container li {
	background-color: #316DC3;
    color: #fff;
	font-size: 13px;
    height: 25px;
    line-height: 30px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    display: inline;
    width: 30px;
    text-decoration-style: none;
}
.social-icon-container a{
    color: #fff !important;
    margin: 5px 15px !important;
}
a{
	background-color: transparent;
}
.top-header .header-top-text-container  {
	color: #fff;
	padding: 5px 0px 0px 0px;
	margin: 0px 0px;
}
.col-md-3{
	padding: 0px !important;
}
.top-header .action-button-container {
	display: flex;
}
.top-header .action-button-container a {
	font-size: 11px;
	margin: 0px 5px;
	padding: 5px;
}
.btn-default{
	background-color: #fff !important;
	color: green !important;
	border: 1px solid green !important;
	border-radius: 0px !important;
}
.main-logo {
	max-height: 52px;
	padding-top: 0px !important;
}
.navbar-nav{
	margin-top: 10px !important;
}
.nav{
	padding: 18px 5px !important; 
}
.navbar-nav li.active a{
	background: #316DC3 !important;
    color: #fff !important;
    font-size: 13px;
    padding: 6px 16px;
    border-radius: 30px;
    width: 70px;
    height: 30px;
}
.navbar-nav a{
	padding: 6px 18px !important;
	font-size: 13px !important;
	font-weight: 600;
}
.navbar-nav li a:hover{
	background-color: #316DC3 !important;
	color: #fff !important;
	border-radius: 30px;
}
.annoucemnet-widget {
	margin-top: 12px;
    background-color: #316DC3;
    color: white;
    height: 30px;
    cursor: pointer;
}
.introduction .content-widget-container h2 {
	text-align: center;
	text-transform: uppercase;
	color: #316dc3;
}
.text-coloured{
	color: green !important;
}
.title-icon {
	margin: 0 auto;
    max-width: 160px;
    position: relative;
}
.title-icon:before {
	content: "";
	position: absolute;
	right: 10px;
	width: 30px;
	height: 30px;
	border-bottom: 3px solid #427900;
}
.title-icon:after {
	content: "";
	position: absolute;
	left: 10px;
	width: 30px;
	height: 30px;
	border-bottom: 3px solid #427900;
}
.introduction .content-widget-container p {
	margin: 15px 0px;
	line-height: 24px;
}
.home-counter-section .container {
	padding: 80px 0px;
}
.number{
	font-size: 48px !important;
	font-weight: 600 !important;
    color: #fff;
    font-family: Merriweather, serif;
}
.home-counter-section .container h5{
    font-weight: 600 !important;
    color: #fff;
    font-family: Merriweather, serif;	
}
.fadeInUpBig {
	padding: 0px 0px 0px 10px !important;
	text-align: center;
}
.style-themeout-color{
    color: rgb(0, 255, 0);
    font-weight: 600;
    font-family: Merriweather, serif;
    font-size: 18px;
}
.services{
	margin: 0 auto;
	padding: 60px 0px;
	background-color: #f7f8fA;
}
.services .text-center-services{
	text-align: center;
	text-transform: uppercase;
	color: #316dc3;
}
.services-section-content .text-center {
    padding: 30px !important;
    margin-bottom: 30px !important;
    margin-top: 20px;
    box-shadow: 0px 8px 20px 0px rgba(0 , 0 , 0 ,0.16);
    background-color:#fff;
}
.text-decoration{
	font-size: 18px "Merriweather, serif";
	font-weight: 600 !important;
	margin-top: 20px;
	color: #316DC3;
}
.future-project .container{
 	margin-top: 60px;
 }
.future-project .section-content{
 	width: 60%;
 }
.text-upparcase{
    position: relative;
    margin-top: 0px !important;
    margin-bottom: 30px;
    padding-bottom: 10px;
    color: #316DC3;
} 
.text-upparcase:after{
    content: "";
	position: absolute;
	left: 10px;
	width: 40px;
	height: 40px;
	border-bottom: 2px solid #427900;
}
.row .left{
   padding: 15px !important;
   text-align: left;
   margin:10px 0px 20px !important;
   border: 1px solid #eeeeee;
   background-color: #f7f3fA;
   width: 350px;
}
.row .media:first-child{
   margin-top: 5px;
}
.row .media-body{
   overflow: hidden;
   zoom: 1;
}
.font-weight-600{
   color: #316DC3;
   font-weight: 600;
   font-family: Merriweather,serif;
   font-size: 18px !important;
   margin-top: 10px !important;
}
.image-gallery h2{
	text-align: center;
    text-transform: uppercase;
    color: #316DC3;
}
.image-gallery .content{
	width: 120%;
	margin-top: 20px;
	margin-bottom: 80px;
}
.footer{
	background-color: black;
}
.footer .container{
    padding-top: 70px;
    padding-bottom: 40px;
}
.footer-content{
	color: #fff;
	margin-bottom: 10px;
}
.info-list{
	margin-top: 5px;
	margin-right: 10px;
}
.info-list li{
	list-style-type: none;
	display: inline-block;
	margin: 0px;
	padding-left: 10px;
	padding-right: 10px
	padding-bottom:10px;
}
.theme-colored{
	margin-right: 5px;
	color: #427900 !important;
}
.footer-content-content{
	margin-top: 0px !important;
}
.line-bottom{
	margin-top: 0px !important;
	margin-bottom: 20px !important;
	padding: 0px 0px 20px;
	color: #fff;
	font-size: 16px;
	font-weight: 600;
}
.line-bottom:after{
	content: "";
	position: absolute;
	left: 10px;
	width: 30px;
	height: 30px;
	border-bottom: 3px solid #427900;
}
.line-bottom-bottom{
	margin-top: 0px !important;
	margin-bottom: 20px !important;
	padding: 0px 0px 20px;
	color: #fff;
	font-size: 16px;
	font-weight: 600;
}
.icon{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}
.icon li{
	margin: 0px;
	padding: 0px 0px 0px 5px;
	display: inline-flex;
}
.icon a{
	background-color: #316DC3;
	color: #fff;
	width: 40px;
	height: 30px;
	border-radius: 50%;
	margin-top: 0px !important;
	line-height: 30px;
}
.icon .fa{
	padding: 0px 15px;
}
.footer-bottom{
	background-color: #316dc3;
	height: 30px !important;
}
.footer-bottom p{
   font-size: 13px;
   color: #fff;
   text-align: center;
}
.scroll-To-up{	
    background: rgba(0, 0, 0, 0.1);
    bottom: 15px;
    display: none;
    height: 50px;
    padding: 2px;
    position: fixed;
    right: 15px;
    text-align: center;
    text-decoration: none;
    width: 50px;
    z-index: 99999;
}
.scroll-To-up i{
	color: #fff;
	font-size: 40px;
}





















@media (max-width: 767px) {
  .action-button-container {
  	justify-content: center;
  }
  .main-menu-header .navbar-nav {
  	float: left !important;
  }
  .projectFactsWrap .item {
     flex: 0 0 50%;
  }
}









